input[type="date"] {
  background-color: var(--bg-color);
  color: var(--font-green);
  border: 1px solid var(--font-green);
  padding: 0.5rem;
  border-radius: 6px;
}

.input-full-width {
  width: 100%;
  max-width: 600px;
  box-sizing: border-box;
}
