
.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.svg-card {
  width: 620px;
  padding: 20px;
  border-radius: 12px;
  font-family: 'JetBrains Mono', 'Courier New', monospace;
  font-size: 16px;
  line-height: 1.8;
  background-color: #0c0f17;
  border: 1px solid #3cffb5;
  box-shadow: 0 0 10px #3cffb580;
  color: #4afc90;
}

.vps-info-grid {
  display: grid;
  grid-template-columns: max-content max-content 1fr;
  column-gap: 8px;
  row-gap: 8px;
}
.vps-info-grid .label {
  font-weight: bold;
}

.vps-card-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 1.2rem;
  padding-top: 0.8rem;
  border-top: 1px dashed rgba(255, 255, 255, 0.15);
  font-family: monospace;
  font-size: 0.95rem;
  color: #68f8bc;
}

.vps-card-footer .left-info,
.vps-card-footer .right-info {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  white-space: nowrap;
}

.card-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}
.card-buttons a,
.card-buttons button {
  background: transparent;
  border: 1px solid #4afc90;
  padding: 6px 12px;
  color: #4afc90;
  font-family: 'JetBrains Mono', 'Courier New', monospace;
  border-radius: 6px;
  transition: all 0.2s ease-in-out;
}
.card-buttons a:hover,
.card-buttons button:hover {
  background: #4afc90;
  color: black;
}

